body {
background-color: rgb(84, 6, 158);
color: #f3efef;
font-family:  "Karla", system-ui; 
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin:0 ;
}

button{
    background-color: rgb(180, 135, 223);
    color: #f3efef;
    font-family:  "Karla", system-ui; 
}

.passo{
    display: none;
}

.passo.ativo {
display: block;
}

main{
   text-align: center;
    max-width: 90;
}

img{
    max-width:80%
}